RewriteEngine On

RewriteRule login$ login.php [nc]
RewriteRule Registration$ reg.php [nc]
RewriteRule logout$ logout.php [nc]
RewriteRule Process$ process.php [nc]
RewriteRule centerr$ center.php [nc]
RewriteRule centerprofile$ centerprofile.php [nc]
RewriteRule children$ children.php [nc]
RewriteRule childrenprofile$ childrenprofile.php [nc]
RewriteRule adopt$ adopt.php [nc]
RewriteRule donate$ donate.php [nc]
RewriteRule contact$ contact.php [nc]
RewriteRule donation$ donation.php [nc]
RewriteRule profile$ profile.php [nc]
RewriteRule changepassword$ changepassword.php [nc]
RewriteRule about$ about.php [nc]
RewriteRule contact$ contact.php [nc]
RewriteRule volunteer$ volunteer.php [nc]
RewriteRule save$ savedata.php [nc]
