
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:100,400,300,600,700);
.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background-color:#333;
	height: 40px;
	border-top: 1px solid #fff;
	}
.menu ul{
	background:#333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
.menu1 ul{
	background:#333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
		padding:0px;
		font-size:13px;
		}
	.menu li a{
	color: #FFFFFF;
	display: block;
	font-weight: normal;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	background-color: #333;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
		}
		.menu li a:hover, .menu ul li:hover a{
	color: #FFFFFF;
	text-decoration: none;
	background-color: rgba(255, 78, 27, 1);
	background-position: center bottom;
			}
	.menu li ul{
		background:#333;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:auto;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:auto;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:35px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
	border: 0px;
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(255, 78, 27, 1);
	background-position: left center;
			}
	.menu p{
		clear:left;
		}	

		
